@* <button @onclick="OnClick" class="btn btn-icon @ButtonClass" style="width:@Size;height:@Size;border-radius:50%;@Style">
    <i class="bi @Icon" style="font-size:@IconSize;color:@IconColor;"></i>
</button>
 *@

<button @onclick="OnClick" class="btn btn-icon @ButtonClass" style="width:@Size;height:@Size;border-radius:50%;">
    <i class="bi @Icon" style="font-size:@IconSize;color:@IconColor;"></i>
</button>

