@page "/"
@page "/Home"

@using Craft.Components.UiHelpers

<PageTitle>Cualifi | Home</PageTitle>

<div class="d-flex vh-100 justify-content-center align-items-center bg-dark text-white">
    <div class="text-center">
        <h1 class="display-4 fw-bold">🚀 Something Amazing is Coming 🚀</h1>
        <p class="lead">Exciting upgrades are in progress! Stay tuned!! We will be back, better than ever!!💡✨</p>
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="mt-4">
            <a href="/" class="btn btn-outline-light">We will be back in next 30 minutes</a>
        </div>
    </div>
</div>
