@namespace Craft.UiComponents.Components

@inherits CraftComponent

@if (IsProcessing)
{

    <MudProgressLinear Color="Color.Tertiary" Striped="true" Indeterminate="true" Size="Size.Medium" />

    <div class="position-fixed z-3 top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-50">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}


