.btn-cool-label {
    position: relative;
    left: -16px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px 0 0 4px;
}

.btn-cool {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}
