

// Light Color Theme
$primary: #9575CDFF !default;
$secondary: #E6E1DAFF !default;
$success: #A3AC75FF !default;
$info: #0695C9 !default;
$warning: #FBC02DFF !default;
$danger: #A71111FF !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true !default;
$enable-gradients: true !default;
$enable-cssgrid: true !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$breakpoint-xs: 0 !default;
$breakpoint-sm: 600px !default;
$breakpoint-md: 960px !default;
$breakpoint-lg: 1280px !default;
$breakpoint-xl: 1920px !default;
$breakpoint-xxl: 2560px !default;

$grid-breakpoints: ( 
    xs: 0, 
    sm: 600px, 
    md: 960px, 
    lg: 1280px, 
    xl: 1920px, 
    xxl: 2560px 
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: ( 
    sm: 584px, 
    md: 928px, 
    lg: 1248px, 
    xl: 1888px, 
    xxl: 2528px 
) !default;

// Container padding
$container-padding-x: 3.0rem !default;

$font-family-sans-serif: "Inter", Roboto, "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$headings-font-family: "Playfair Display", "Inter", Roboto, "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$display-font-family: "Playfair Display", "Inter", Roboto, "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;